.active-text {
  color: #FFFFFF;
}

.about {
  height: calc(100vh - 102px);
  display: flex;

  &__one {
    max-width: 72px;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    border-right: 1px solid #1E2D3D;
  }

  &__one img {
    margin-right: 24px;
    margin-left: 24px;
  }

  &__one img:not(:last-child) {
    margin-bottom: 33px;
  }

  &__one img:first-child {
    margin-top: 17px;
  }


  &__two {
    height: 100%;
    width: 237px;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #1E2D3D;
  }

  &__two-title {
    display: flex;
    justify-content: start;
    border-bottom: 1px solid #1E2D3D;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  &__two-title p {
    color: #FFFFFF;
  }

  &__two-title img {
    margin-left: 14px;
    margin-right: 11px;
  }

  &__two-descr-one {
    display: flex;
    justify-content: start;
  }
}