@import './libs/normalize.scss';

@import './components/all.scss';


body {
  background-color: #011627;
  font-family: 'Fira Code', monospace;
}

.main {
  flex: 1 1 auto;
}

.container {
  min-height: 935px;
  display: flex;
  flex-direction: column;
}

p, a {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #607B96;
}